body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "montserrat",sans-serif;
    font-size: large;
  }
  .header{
    height: 100px;
    background: #40739e;
    padding: 0 20px;
    color: #fff;
  }
  .logo{
    line-height: 60px;
    float: left;
    text-transform: uppercase;
  }
  
  .menu{
    display: flex;
    flex-direction: row;
    justify-content: right;
    line-height: 100px;
  }
  .menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
  }
  .show-menu-btn,.hide-menu-btn{
    display: flex;
    justify-content: right;
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;;
  }
 
  .show-menu-btn i{
    line-height: 100px;
  }
  .menu a:hover,
  .show-menu-btn:hover,
  .hide-menu-btn:hover{
    color: #192a56;
  }
  
  #chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
  }
   
  .page-content{
    min-height: 100vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  footer{
    background: #f1f1f1;
    padding: 50px 0;
 
  }
  
  .footer-container{
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
 
  .logo-footer{
    text-align: center;
  }
  
  .border{
    width: 140px;
    height: 4px;
    background: #40739e;
  }
  
  @media screen and (max-width:960px) {
    .footer-container{
      max-width: 600px;
    }
    
    .center-col{
      width: 100%;
      text-align: center;
    }
  }
  
  
  @media screen and (max-width:800px) {
    .show-menu-btn,.hide-menu-btn{
      display: flex;
    }
    .menu{
      position: fixed;
      width: 100%;
      height: 400px;
      flex-direction: column;
      background: #40739e;
      right: -100%;
      top: 0;
      text-align: center;
      padding: 80px 0;
      line-height: normal;
      transition: 0.7s;
    }
    .menu a{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }
    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 20px;
    }
    #chk:checked ~ .menu{
      right: 0;
    }
  }
  
