body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "montserrat",sans-serif;
    font-size: large;
    box-sizing: border-box;
  }

  .landing-page{
    width: 100%;
    height: 700px;
    background: rgb(14, 46, 83);
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  .landing-page::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(./parallax-image.jpg) no-repeat;
    background-size: cover;
    opacity: .3;
    animation: animation 25s linear infinite;
  }
 
  .page-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 0 40px;
    box-sizing: border-box;
  }
  .page-content img{
    height: 150px;
    width: 700px;
    margin-bottom: 20px;
  }
  .page-content p,a{
    color: #fff;
    margin-bottom: 20px;
  }
  .button-sign{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #fff;
    padding: 10px 20px;
    transition: 0.4s linear;
  }

  .button-sign:hover{
    color: #fff;
    background: #0a3d62;
  }
  .text{
    padding: 10px;
    text-align: justify;
  }
  .services-section{
    padding: 60px 0;
  }
  .inner-width-primary{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
  }
  .section-title{
    text-align: center;
    color: #0a3d62;
    text-transform: uppercase;
    font-size: 30px;
  }
  .border-primary{
    width: 160px;
    height: 2px;
    background: #0a3d62;
    margin: 40px auto;
  }
  .services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .service-box{
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #0a3d62;
    cursor: pointer;
  }
  
  .service-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #0a3d62;
    color: #0a3d62;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
  }
  .service-icon i{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
  }
  .service-box:hover .service-icon{
    background: #0a3d62;
    color: #ddd;
  }
  .service-title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .service-desc{
    font-size: normal;
  }
  
  .contact-section{
    background-image: url(./Fundo_Login.jpg);
    background-size:cover;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inner-width{
    background-color: #fff;
    height: 500px;
    max-width: 600px;
    margin:0 auto;
    padding: 10px 20px;
    border-radius: 7%;
  }
  .inner-width img{
    margin:20px;
    height: 70px;
    width: 200px;
  }
  .button-submit{
    display:block;
    margin: 50px auto 0;
  }
  .content-div{
    display:flex;
    align-items: center;
  }
  .contact-section h1{
    font-size: large;
    color: #2980b9;
    margin-bottom:40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
  }

  .password,.email{
    background: none;
    border:none;
    border-bottom:1px solid;
    color:#2980b9;
    padding: 10px 6px;
    margin:0 auto;
    font-size: medium;
    margin-bottom:40px;
    display: block;
  }

  .password{
    width:270px;
  }

  .email{
    width: 270px;
  }

  .contact-section button{
    background-color:#2980b9;
    color:#fff;
    border: 1px solid #70a1ff;
    padding:15px 100px;
    border-radius:8px;
    text-transform: uppercase;
    font-size:14px;
    font-weight: bold;
    transition:0.4s linear;
    cursor: pointer;
  }

  .contact-section button:hover{
    background:none;
    color:#2980b9;
  }

  .contact-section a{
    text-decoration: none;
    color:#7f8c8d;
    font-size: medium;
    margin:15px;
  }
  footer{
    background: #ced6e0;
    padding: 50px 0;
  }
 
  .footer-container{
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
 
  .logo-footer{
    text-align: center;
  }
  
  .border{
    width: 160px;
    height: 2px;
    background: #0a3d62;
  }

  @keyframes animation {
    50%{
      transform: scale(2);
    }
    100%{
      transform: scale(1);
    }
  }
  
  @media screen and (max-width:960px) {
    .service-box{
      max-width: 45%;
    }
    .footer-container{
      max-width: 600px;
    }
    
    .center-col{
      width: 100%;
      text-align: center;
    }

  }
  
  @media screen and (max-width:600px){
    /* .password,.email{
      width:100%;
    } */
    
  }
  
  @media screen and (max-width:768px) {
    .service-box{
      max-width: 50%;
    }
  }
  
  @media screen and (max-width:480px) {
    .service-box{
      max-width: 100%;
    }
    .page-content img{
      /* justify-content: center; */
      height: 80px;
      width: 500px;
      margin-bottom: 20px;
    }
  }
  
 
  
